* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-primary: #c8921c;
  --color-secondary: #111111;
}

body {
  background: #fbfbfb;
  font-family: "Fira Sans", sans-serif;
}

.circle-blur-first {
  position: absolute;
  bottom: -50%;
  right: 2%;
  width: 400px;
  border-radius: 100%;
  height: 400px;
  filter: blur(80px);
  background: var(--color-primary);
  opacity: 0.3;
  z-index: -1;
}

.circle-blur-second {
  position: absolute;
  top: -17%;
  left: -4%;
  width: 350px;
  border-radius: 100%;
  height: 350px;
  filter: blur(80px);
  background: var(--color-primary);
  opacity: 0.3;
  z-index: -1;
}

.row-sign-in {
  width: 100%;
  height: 100dvh;
  display: flex;
  overflow: hidden;
  align-items: center;
}

.row-sign-in .right-col {
  padding: 3rem;
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  height: 100%;
  background: var(--color-primary);
}

.row-sign-in .right-col img {
  width: 80%;
}

.row-sign-in .right-col h2 {
  font-size: 1.5rem;
  color: #fff;
}

.row-sign-in .left-col,
.left-col {
  position: relative;
  flex: 1 1 50%;
  padding: 5%;
}

.header-auth {
  line-height: 1.2rem;
  margin-bottom: 1.5rem;
}

.header-auth img {
  width: 120px;
  position: absolute;
  top: -10%;
  right: 7%;
}

.header-auth h2 {
  margin-bottom: 0.7rem;
  line-height: 1.5rem;
}

.header-auth h2 span {
  color: var(--color-primary);
}

.header-auth p {
  color: #666;
  font-size: 0.9rem;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
  width: 100%;
}

.form-group label {
  margin-bottom: 0.3rem;
  color: #666;
}

.form-group input {
  display: inline-block;
  padding: 0.7rem 1rem;
  font-size: 0.9rem;
  border-radius: 6px;
  border: 1.5px solid #ddd;
  outline: none;
  position: relative;
}

.form-group input:focus {
  border: 1.5px solid var(--color-primary);
}

.btn-sign {
  width: 100%;
  display: inline-block;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 1rem;
  border-radius: 6px;
  border: none;
  background: var(--color-primary);
  color: #fff;
  cursor: pointer;
}

.btn-sign:hover {
  opacity: 0.9;
}

.account-link {
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

.account-link a {
  color: var(--color-primary);
}

.eye-icon {
  position: absolute;
  top: 68%;
  transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
}

.eye-icon i:hover {
  color: var(--color-primary);
}

@media screen and (max-width: 576px) {
  .header-auth h2 {
    line-height: 1.8rem;
  }

  .header-auth img {
    width: 100px;
    top: -40%;
    right: 3%;
  }

  .row-sign-in .right-col {
    display: none;
  }

  .row-sign-in .left-col {
    flex: 1 1 100%;
  }
}
